.game-container {
  position: relative;
  background-color: #00000000;
  width: 98vw;
  height: 98vh;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.show {
  opacity: 1 !important;
}

.history {
  opacity: 0;
  transition: opacity 1s linear;
  position: absolute;
  right: 1vw;
  bottom: 1vh;
}

.overview {
  opacity: 0;
  transition: opacity 1s linear;
}

.scoreboard {
  opacity: 0;
  transition: opacity 1s linear;
  position: absolute;
  bottom: 1vh;
  left: 1vw;
}
