.scoreboard-container {
  width: 19.5vw;
  height: 23vh;
  display: flex;
  flex-direction: column;
  border: 4px solid #034a6f;
  font-weight: bold;
  font-size: 3.7vh;
  background-color: white;
}

.score-team {
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: space-between;
  align-items: center;
}

.score-logo {
  height: 5.7vw;
  width: 5.7vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.score-logo img {
  width: 5vw;
  height: 5vw;
  object-fit: contain;
}

.score-points {
  height: 100%;
  width: 30%;
  background-color: #034a6f;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.score-points span {
  border: 1px solid white;
  box-sizing: border-box;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 3.6vw;
  height: 3.6vw;
}

.team-1 {
  border-bottom: 2px solid white;
}

.team-2 {
  border-top: 2px solid white;
}

.serve-container {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #034a6f;
  height: 100%;
}

.serve-indicator {
  background-color: #ffb818;
  width: 1vw;
  height: 1vw;
  border-radius: 10px;
}

.score-set {
  color: lightgray;
  font-size: 2em;
  width: 30%;
  background-color: #034a6f;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
